Repository lemorage/yanara: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock, pytest

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

poetry-lock:
  name: poetry-lock
  description: run poetry lock to update lock file
  entry: poetry lock
  language: python
  pass_filenames: false

pytest:
  name: run pytest with coverage
  entry: poetry run pytest --maxfail=1 --disable-warnings --cov=. --cov-report=term-missing
  language: python
  pass_filenames: false

feat: enhance agent creation with updated persona and tool integration
  yanara/main.py
Due: pytest

feat: add dynamic tool loading functionality from tools module
  yanara/helpers/client_helper.py
Due: pytest

feat: revise tool loading function to include client parameter and logging
  yanara/helpers/client_helper.py
Due: pytest

feat: add cleanup function to delete agents by name or UUID
  yanara/helpers/client_helper.py
Due: pytest

feat: add room booking agent with tool integration and verbose persona
  yanara/helpers/agents.py
Due: pytest

feat: organize agent personae into a separate module for maintainability
  yanara/helpers/agents.py
  yanara/personae/room_booking_agent.py
Due: pytest

feat: add example persona template for consistent agent development
  yanara/personae/example.txt
Due: none

feat: add general purpose persona
  yanara/personae/general_purpose.py
  yanara/personae/room_booking_agent.py
Due: pytest

feat: add .gitattributes for line ending normalization and file type management
  .gitattributes
Due: none

chore: upgrade dependencies and update poetry.lock
  poetry.lock
Due: poetry-check, poetry-lock

chore: update black configuration and upgrade huggingface-hub to version 0.27.0
  .pre-commit-config.yaml
  poetry.lock
Due: poetry-check, poetry-lock

feat: add tool to create a finalized order for room bookings
  yanara/tools/lark/finalize_order.py
Due: pytest

feat: add finalization agent persona template for hotel booking assistance
  yanara/personae/finalization_agent.py
Due: pytest

feat: add finalization agent for room booking orders
  yanara/helpers/agents.py
Due: pytest

feat: add function to adjust datetime strings by specified days
  yanara/util/date.py
Due: pytest

feat: add tool to calculate room charges for bookings
  yanara/tools/lark/calculate_room_charge.py
Due: pytest

feat: refactor room charge calculation to use dynamic field names
  yanara/tools/lark/calculate_room_charge.py
Due: pytest

feat: integrate mappings config for room number handling
  yanara/configs/oyasumi_ice_hotel_mappings.py
  yanara/tools/lark/calculate_room_charge.py
  yanara/tools/lark/finalize_order.py
  yanara/tools/lark/staging_order.py
Due: pytest

test: add unit tests for staging order creation tool
  tests/test_tools/test_lark.py
Due: pytest

test: add unit tests for finalizing room booking orders tool
  tests/test_tools/test_lark.py
Due: pytest

refactor: round the room charges after fetching
  yanara/tools/lark/calculate_room_charge.py
Due: pytest

test: add unit tests for room charge calculation tool
  tests/test_tools/test_lark.py
Due: pytest

refactor: use regex for room number extraction
  yanara/tools/lark/calculate_room_charge.py
Due: pytest

chore: update letta dependency to version 0.6.5
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

fix: update agent creation to use tool IDs instead of names
  yanara/helpers/agents.py
Due: pytest

refactor: add room lookup tool to room booking agent and update persona
  yanara/helpers/agents.py
  yanara/personae/room_booking_agent.py
Due: pytest

fix: update table IDs in staging order creation function
  yanara/tools/lark/staging_order.py
Due: pytest

fix: account for time difference during order creation
  yanara/tools/lark/finalize_order.py
  yanara/tools/lark/staging_order.py
Due: pytest

feat: add start script to launch Letta server and Yanara service
  start.sh
Due: none

docs: update pre-commit setup instructions and testing commands
  README.md
Due: none

feat: implement agent service API
  yanara/api/agent_service_api/__init__.py
  yanara/api/agent_service_api/agent_service.py
Due: pytest

feat: implement AgentServiceClient for WeCom message handling
  yanara/api/agent_service_api/agent_service.py
Due: pytest

fix: update axios options to set timeout and disable proxy
  yanara/api/agent_service_api/agent_service.py
Due: pytest

feat: add Dockerfile for building Python environment with Poetry
  Dockerfile
Due: none

feat: exclude unnecessary files from Docker build
  .dockerignore
Due: none

fix: update lark-oapi to fix dependency conflicts
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

feat: optimize Dockerfile for Poetry installation and cache management
  Dockerfile
Due: none

feat: add synchronous message sending method
  yanara/api/agent_service_api/agent_service.py
Due: pytest

Path conditions:
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  pytest: any of: \.py$
